
@mixin clearfix {
    &:before,
    &:after {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  
@mixin flexBoxWebkit{
  display: -ms-flexbox;
	display: -moz-flex;
	display: -ms-flex;
	-ms-flex-wrap: wrap;
	display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
}

@mixin pageSelectButton{
		position: relative;
		top: -10px;
		left: 20px;
		display: inline-block;
		border: 1px solid #fff;		
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
		padding: 2px;
		text-decoration: none;
		font-size: 12px;
		text-shadow: #fff 0 1px 0;
		color: #597390;
}

@mixin pageSelectButtonHover{
    background-color: $light-gray;
		color: #000;
		display: inline-block;
}

@mixin tabs-icon{
	position: relative;
	font-size: 18px;
	margin-left: 10px;
}