

$purple: #b760a9;
$light-blue: #96bde1;
$blue: #0059a1;
$light-gray: #bebebe;
$gray: #818181;
$dark-gray: #2f2f2f;
$white: #ffffff;

//Fonts
$font-arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

//header images
$header-agria-logo: url("../builds/images/agria-logo.jpg");
$plus-svg-icon: "../builds/images/plus.png";