
//Social media icons styling
.social-icons {
    position: relative;
    float: right;
    top: -85px;
    
    // width: 300px;
    ul li {
        position: relative;
        display: inline;
        margin: 2px;
        font-size: 12px;
        text-decoration: none;
        color: $purple;

        span.share {
            color: $blue;
            margin-left: 3px;
        }
        img {
            width: 25px;
            border-radius: 5px;
        }
    }
}

.agria-djurforsakring{
    position: relative;
    top: -60px;
    
    p.adress, span.djur-title{
        clear: both;
        background-color: $blue;
        line-height: 35px;
        color: lighten( $blue, 20% );
        font-size: 12px;
        top: 50%;

        span.djur-title{
            font-size: 20px;
            float: left;
            color: $white;
            margin: 0 20px 0 20px;            
        }

    }
    
}