
header{
	margin-bottom: -40px;

	img{
		width: 200px;
		margin: 10px 0 10px 0;
	}

	.header-line{
		height: 6px;
		background-color: $light-blue;
	}
}



// .gallery-line{
// 	margin: -2px;
// 	height: 10px;
//     background-color: $purple;
// }

//Button to add photo
.myGalleryButton{	
	background-color: $purple;
	border: none;
	position: relative;
	left: 740px;	
	border-radius: 5px;
	color: $white;
	text-transform: uppercase;
    padding: 8px 25px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 15px;
	bottom: -30px;
	margin-bottom: 10px;
	
	&:hover{
		background-color: $light-gray;
	}
}