

/*****************************/
/* Tabs */
/*****************************/ 



// text-styling inside of the tabs
.tabs-style-tzoid nav ul li a {
	padding: 0 2em 0 1em;
	color: $white;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
}


// Hover and Focus
.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus {
	color: $white;
	text-decoration: none;
}

.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover {
	color: $white;
	text-decoration: none;
}

.tabs-style-tzoid nav ul li a span {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	
}

//The tabs detail..
.tabs-style-tzoid nav ul li a::after {
	position: absolute;
	margin-right: 20px;
	top: -20px;
	right: -20px;
	bottom: -5px;
	left: -25px;
	z-index: -1;
	background: $light-gray;
	content: '';
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-moz-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);	
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	
}

// Detail of the active tab
.tabs-style-tzoid{
	
	nav ul li.tab-current a::after{
		background: $purple;
		box-shadow: none;
	}

	&.tabs-style-tzoid .content-wrap {
		background: $white;
	}
}

// icon of tabs
.fa-heart{
	@include tabs-icon;
	top: -2px;
}

.fa-eye{
	@include tabs-icon;
	top: -3px;
}