/* ALL TABS DESIGN */

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	// font-size: 1.25em;
	font-size: 20px;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	@include flexBoxWebkit;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
}

.tabs nav ul li {
	position: relative;
	display: block;
	margin: 0;
	text-align: center;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
	text-transform: uppercase;
}

.content-wrap {
	position: relative;
	border-top: 8px solid $purple;

	& section {
		display: none;
		margin: -10px auto;
		padding: 1em;
		max-width: 950px;
		text-align: center;

		&.content-current {
			display: inline-block;
		}
	}		
}

/*Grid Images*/

.grid{
	max-width: 950px;
	height: 350px;;
	position: relative;
	margin: 0 auto;
	
	.mySlides{
		float: left;
		position: relative;
		
		left: 15px;
		margin: 3px;
	}
}

/**********************************************************/
/******** FLEXBOX ALTERNATIVE (don´t work in IE11 and Edge*/
/**********************************************************/
// .grid{
// 	margin: 0;
// 	max-width: 950px;
// 	padding: 0 10px;;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-between;
// 	align-content: space-between;
// 	@include flexBoxWebkit;

// 	.mySlides {
// 		width: calc(100% / 7);		
// 		img{
// 			justify-items: stretch;
// 			display: block;
// 			margin: 3px;
// 		}
// 	}	
// }

//Slideshow button
.btnContainer{
	.myButtonLeft{
		width: 10px;
		margin: 0 0 0 -30px;
		height: 100%;
		background-color: $light-gray;
	}

	.myButtonRight{
		width: 10px;
		right: 5px;
		margin: 0 -35px 0 0;
		height: 100%;
		background-color: $light-gray;

		.arrow{
			position: relative;
			left: -8px;
		}
	}
}


/*previous_page and next_page button*/
ul li.sidaBtnContainer{
	position: relative;
	list-style-type: none;
	float: right;
	right: 5px;
	@include clearfix;

	a.button-left {
		@include pageSelectButton;
	
	&:hover {
		@include pageSelectButtonHover;}	
	}

	a.button-right {
		@include pageSelectButton;
	
	&:hover {
		@include pageSelectButtonHover;}	
	}	

	span{
		position: relative;
		top: -10px;
		font-size: 12px;
		left: 20px;
		margin: 0;
		padding: 0;
	}
}

