@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 950px;
  margin: 0px auto;
  background-color: #ffffff;
}

h1.photo-gallery-text {
  font-size: 40px;
  font-weight: normal;
  color: #2f2f2f;
}

a {
  cursor: pointer;
}

header {
  margin-bottom: -40px;
}

header img {
  width: 200px;
  margin: 10px 0 10px 0;
}

header .header-line {
  height: 6px;
  background-color: #96bde1;
}

.myGalleryButton {
  background-color: #b760a9;
  border: none;
  position: relative;
  left: 740px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  bottom: -30px;
  margin-bottom: 10px;
}

.myGalleryButton:hover {
  background-color: #bebebe;
}

/*****************************/
/* Tabs */
/*****************************/
.tabs-style-tzoid nav ul li a {
  padding: 0 2em 0 1em;
  color: #ffffff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}

.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus {
  color: #b760a9;
  text-decoration: none;
}

.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover {
  color: #ffffff;
  text-decoration: none;
}

.tabs-style-tzoid nav ul li a span {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.tabs-style-tzoid nav ul li a::after {
  position: absolute;
  margin-right: 20px;
  top: -20px;
  right: -20px;
  bottom: -5px;
  left: -25px;
  z-index: -1;
  background: #bebebe;
  content: '';
  transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
  -webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
  -moz-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tabs-style-tzoid nav ul li.tab-current a::after {
  background: #b760a9;
  box-shadow: none;
}

.tabs-style-tzoid.tabs-style-tzoid .content-wrap {
  background: #ffffff;
}

.fa-heart {
  position: relative;
  font-size: 18px;
  margin-left: 10px;
  top: -2px;
}

.fa-eye {
  position: relative;
  font-size: 18px;
  margin-left: 10px;
  top: -3px;
}

.container2-block {
  width: 950px;
  height: 250px;
  margin: 0 auto;
}

.container2-block p {
  position: relative;
  font-size: 42px;
  color: #818181;
  text-align: center;
  top: 60px;
}

.container3-block {
  width: 950px;
  height: 250px;
  margin: 0 auto;
}

.container3-block p {
  position: relative;
  font-size: 42px;
  color: #818181;
  text-align: center;
  top: 60px;
}

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
}

.tabs nav ul li {
  position: relative;
  display: block;
  margin: 0;
  text-align: center;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
  text-transform: uppercase;
}

.content-wrap {
  position: relative;
  border-top: 8px solid #b760a9;
}

.content-wrap section {
  display: none;
  margin: -10px auto;
  padding: 1em;
  max-width: 950px;
  text-align: center;
}

.content-wrap section.content-current {
  display: inline-block;
}

/*Grid Images*/
.grid {
  max-width: 950px;
  height: 350px;
  position: relative;
  margin: 0 auto;
}

.grid .mySlides {
  float: left;
  position: relative;
  left: 15px;
  margin: 3px;
}

/**********************************************************/
/******** FLEXBOX ALTERNATIVE (don´t work in IE11 and Edge*/
/**********************************************************/
.btnContainer .myButtonLeft {
  width: 10px;
  margin: 0 0 0 -30px;
  height: 100%;
  background-color: #bebebe;
}

.btnContainer .myButtonRight {
  width: 10px;
  right: 5px;
  margin: 0 -35px 0 0;
  height: 100%;
  background-color: #bebebe;
}

.btnContainer .myButtonRight .arrow {
  position: relative;
  left: -8px;
}

/*previous_page and next_page button*/
ul li.sidaBtnContainer {
  position: relative;
  list-style-type: none;
  float: right;
  right: 5px;
}

ul li.sidaBtnContainer:before, ul li.sidaBtnContainer:after {
  content: '';
  display: table;
}

ul li.sidaBtnContainer:after {
  clear: both;
}

ul li.sidaBtnContainer a.button-left {
  position: relative;
  top: -10px;
  left: 20px;
  display: inline-block;
  border: 1px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 2px;
  text-decoration: none;
  font-size: 12px;
  text-shadow: #fff 0 1px 0;
  color: #597390;
}

ul li.sidaBtnContainer a.button-left:hover {
  background-color: #bebebe;
  color: #000;
  display: inline-block;
}

ul li.sidaBtnContainer a.button-right {
  position: relative;
  top: -10px;
  left: 20px;
  display: inline-block;
  border: 1px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 2px;
  text-decoration: none;
  font-size: 12px;
  text-shadow: #fff 0 1px 0;
  color: #597390;
}

ul li.sidaBtnContainer a.button-right:hover {
  background-color: #bebebe;
  color: #000;
  display: inline-block;
}

ul li.sidaBtnContainer span {
  position: relative;
  top: -10px;
  font-size: 12px;
  left: 20px;
  margin: 0;
  padding: 0;
}

p.photo-search {
  position: relative;
  bottom: 60px;
  text-transform: uppercase;
  color: #b760a9;
  font-size: 15px;
  font-weight: 700;
  left: 38px;
}

p.photo-search span {
  text-transform: none;
  font-weight: 500;
  font-size: 12px;
  padding-left: 10px;
}

.dropdown-form {
  position: relative;
  font-size: 12px;
  bottom: 75px;
  left: 38px;
}

.dropdown-form select.ras {
  padding: 3px 70px 3px 3px;
}

.dropdown-form select.animals {
  padding: 3px 3px 3px 3px;
}

.taggar-link {
  float: left;
  position: relative;
  bottom: 75px;
  max-width: 570px;
  display: flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -ms-flex;
}

.taggar-link h6 {
  position: relative;
  display: inline-block;
  font-weight: 500;
  left: 38px;
  top: 5px;
  font-size: 14px;
}

.taggar-link ul li {
  position: relative;
  display: inline;
  margin: 5px;
  font-size: 12px;
  text-decoration: underline;
  color: #b760a9;
}

.social-icons {
  position: relative;
  float: right;
  top: -85px;
}

.social-icons ul li {
  position: relative;
  display: inline;
  margin: 2px;
  font-size: 12px;
  text-decoration: none;
  color: #b760a9;
}

.social-icons ul li a {
  color: #0059a1;
  text-decoration: none;
}

.social-icons ul li img {
  width: 25px;
  margin-left: 3px;
  border-radius: 5px;
}

.agria-djurforsakring {
  position: relative;
  top: -60px;
}

.agria-djurforsakring p.adress,
.agria-djurforsakring span.djur-title {
  clear: both;
  background-color: #0059a1;
  line-height: 35px;
  color: #0891ff;
  font-size: 12px;
  top: 50%;
}

.agria-djurforsakring p.adress span.djur-title,
.agria-djurforsakring span.djur-title span.djur-title {
  font-size: 20px;
  float: left;
  color: #ffffff;
  margin: 0 20px 0 20px;
}

.footer-container {
  display: flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  bottom: 70px;
}

.footer-container .link-list ul {
  padding: 0;
  margin: 15px 5px 0 5px;
}

.footer-container .link-list ul::first-line {
  color: #818181;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

.footer-container .link-list ul li {
  list-style-type: none;
  margin: -5px;
}

.footer-container .link-list ul li a {
  font-size: 10px;
  text-decoration: none;
  color: #818181;
}

.agria-ao {
  position: relative;
  float: right;
  bottom: 80px;
}

.agria-ao h3 {
  text-transform: uppercase;
  color: #818181;
  font-weight: bold;
  font-size: 12px;
}

div.footer-line {
  position: relative;
  bottom: 50px;
  width: 100%;
  height: 3px;
  background-color: #0059a1;
}

.footer-contacts {
  clear: both;
  position: relative;
  bottom: 80px;
  text-align: center;
}

.footer-contacts ul li {
  padding: 5px;
  display: inline;
  text-transform: uppercase;
  text-align: center;
}

.footer-contacts ul li a {
  color: #818181;
  font: status-bar;
}
