html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 950px;
  margin: 0px auto;
  background-color: #ffffff;
}

h1.photo-gallery-text {
  font-size: 40px;
  font-weight: normal;
  color: #2f2f2f;
}

header {
  margin-bottom: -40px;
}

header img {
  width: 200px;
  margin: 10px 0 10px 0;
}

header .header-line {
  height: 6px;
  background-color: #96bde1;
}

.myGalleryButton {
  background-color: #b760a9;
  border: none;
  position: relative;
  left: 740px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  bottom: -30px;
  margin-bottom: 10px;
}

.myGalleryButton:hover {
  background-color: #bebebe;
}

/*****************************/
/* Tabs */
/*****************************/
.tabs-style-tzoid nav ul li a {
  padding: 0 2em 0 1em;
  color: #ffffff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}

.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus {
  color: #ffffff;
  text-decoration: none;
}

.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover {
  color: #ffffff;
  text-decoration: none;
}

.tabs-style-tzoid nav ul li a span {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.tabs-style-tzoid nav ul li a::after {
  position: absolute;
  margin-right: 20px;
  top: -20px;
  right: -20px;
  bottom: -5px;
  left: -25px;
  z-index: -1;
  background: #bebebe;
  content: '';
  transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
  -webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
  -moz-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tabs-style-tzoid nav ul li.tab-current a::after {
  background: #b760a9;
  box-shadow: none;
}

.tabs-style-tzoid.tabs-style-tzoid .content-wrap {
  background: #ffffff;
}

.fa-heart {
  position: relative;
  font-size: 18px;
  margin-left: 10px;
  top: -2px;
}

.fa-eye {
  position: relative;
  font-size: 18px;
  margin-left: 10px;
  top: -3px;
}

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
}

.tabs nav ul li {
  position: relative;
  display: block;
  margin: 0;
  text-align: center;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
  text-transform: uppercase;
}

.content-wrap {
  position: relative;
  border-top: 8px solid #b760a9;
}

.content-wrap section {
  display: none;
  margin: -10px auto;
  padding: 1em;
  max-width: 950px;
  text-align: center;
}

.content-wrap section.content-current {
  display: inline-block;
}

/*Grid Images*/
.grid {
  margin: 0 auto;
  max-width: 950px;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
}

.grid .mySlides {
  width: calc(100% / 7);
}

.grid .mySlides img {
  display: block;
  margin: 3px;
}

.btnContainer .myButtonLeft {
  width: 10px;
  margin: 0 0 0 -30px;
  height: 100%;
  background-color: #bebebe;
}

.btnContainer .myButtonRight {
  width: 10px;
  right: 5px;
  margin: 0 -35px 0 0;
  height: 100%;
  background-color: #bebebe;
}

.btnContainer .myButtonRight .arrow {
  position: relative;
  left: -8px;
}

/*previous_page and next_page button*/
ul li.sidaBtnContainer {
  position: relative;
  width: 200px;
  list-style-type: none;
  float: right;
  clear: both;
}

ul li.sidaBtnContainer a.button-left {
  position: relative;
  top: -20px;
  display: inline-block;
  border: 1px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 2px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  color: #597390;
}

ul li.sidaBtnContainer a.button-left:hover {
  background-color: #bebebe;
  color: #000;
  display: inline-block;
}

ul li.sidaBtnContainer a.button-right {
  position: relative;
  top: -20px;
  display: inline-block;
  border: 1px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 2px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  color: #597390;
}

ul li.sidaBtnContainer a.button-right:hover {
  background-color: #bebebe;
  color: #000;
  display: inline-block;
}

ul li.sidaBtnContainer span {
  position: relative;
  top: -20px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.search-image-container {
  color: #b760a9;
  text-transform: uppercase;
}
